
/*设置总的背景*/
body{
	/*颜色 背景图 重复平铺*/
	background:  #fff url(../images/bg.jpg) repeat top left;
}

/*整个注册窗口布局*/
#loginWindow{
	min-height: 350px;  /*最小高度*/
	margin: 0px auto;   /*居中设置*/
	width: 480px;       /*宽度*/
	margin-top: 8%;     /*距离顶部的距离*/
	position: relative;
}

/*鼠标置于loginWindow上面即会激活，其实是改变透明度而已*/
#loginWindow:hover{
	background-color: rgba(0, 170, 170, 0.8);
}

/*宽度，字体，居中*/
div.wrapper{
	width: 22em;
	height: auto;
	margin: 0px auto;
	font-family: "微软雅黑";
}

/*大标题布局设置*/
h1{
	padding: 0.5em 0 0.4em 0; 
	text-align: center;
	border-bottom: 1px solid #ae113d;
}

/*圆角的矩形*/
.radius{
	border-radius: 5px;
	background-color: rgba(0, 170, 170, 0.7);
	opacity: 1;  /*透明度*/
	box-shadow: 3px 3px 6px #666;   /*阴影*/
}

/*文字标签*/
label{
	text-align: right;
	float: left;
	width: 5em;
	margin-right: 0.5em;
	font-weight: bold;
	cursor: pointer;    /*鼠标变样*/
}

/*输入框宽度，外边框*/
input{
	width: 25em;
	height: 1.7em;
	font-size: 0.8em;
	border-radius: 5px;
	font-family: "arial";
	font-weight: bold;
}

/*输入框的宽度大小*/
input[type="text"]{
	width: 20em;
}
input.reducewidth{
	width: 13.9em;
}
/*注册按钮*/
input[type="submit"]{
	width: 5em;
	height: 2.5em;
	font-size: 1.3em;
	cursor: pointer;
	background: rgba(174, 17, 61, 0.8);
	padding: 8px 5px;
	color: #fff;
	border: 1px solid rgb(28, 108, 122);
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	float: right;
	font-family: "微软雅黑";
}

/*注册按钮背景色、透明度设置*/
input[type="submit"]:hover{
	background: rgba(174, 17, 61, 1);
}

/*修饰作用*/
input[type="text"] , textarea{
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/*左边的元素有10em宽*/
p.left10em{
	width: 10em;
	float: left;
	text-align: right;
}

/*输入框被鼠标点中时被激活*/
input[type="text"]:focus, textarea:focus{
	background: #ff9;
}

/*输入框被鼠标置于上方时被激活*/
input[type="text"]:hover{
	background: #ff9;
}

/**获取问题按钮的放置*/
button.getQuestion{
	display: block;
	margin-top: -6.4em;
	margin-left: 25.1em;
	width: 6em;
	height: 2em;
	font-family: "微软雅黑";
	cursor: pointer;
}