body{
	width: 2000px;
	height: 2000px;
}
.white{
	background-color: #fff;
	width: 50%;
	height: 50%;
	float: left;
}
.black{
	background-color: #000;
	float: left;
	width: 50%;
	height: 50%;
	opacity: 0.8;
}
.transform-origin{
    -moz-transform-origin: 1000 1000;
    -webkit-transform-origin: 1000 1000;
    -o-transform-origin: 1000 1000;
    -ms-transform-origin: 1000 1000;
    transform-origin: 1000 1000;
  }
/* 4、transform:rotate(角度值)*/
.rotate{
   -moz-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);          
 }